{% autoescape off %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello {{ user.get_username }},</p>

    <p>You requested a password reset. Click the link below to reset your password:</p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'reset_password' uidb64=uid token=token %}">
            Reset your password
        </a>
    </p>

    <p>If you didn’t request this, you can ignore this email.</p>

    <p>Thanks,<br>ShopKickora Team</p>
</body>
</html>
{% endautoescape %}
